<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Zooked" %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
      <div class="container">
 <div class="hero-unit">
        <h1 style="text-align:center;margin-bottom:40px;margin-top:5px;">
          <% if flash[:notice] %>
      <%= flash[:notice] %></p></h1>
    <% end %>
    <% if flash[:error] %>
      <%= flash[:error] %></p>
      <% end %>

    <h1 style="text-align:center;margin-bottom:40px;margin-top:5px;">
      <img src="/assets/whitepic.jpg"></h1>

<p>Zooked is a social media platform that allows users to share any kind of media whether it be videos, pictures or text</p>

<p>Our vision is to create a network where our pleasure of smoking isn't taboo</p>

<p>But we aren't done as you can see so if you want a heads up when we are, just type in your email and we will let you know when we are all ready to go</p>

<%= form_for User.new do |f| %>
  <%= f.text_field :email %><br />

  <%= f.submit 'Save My Email!' %>
<% end %>
</div>
</div>


</body>